#tablebox {
  background-color: rgba(230, 230, 230, 0.7);
}

.boxes {
  margin-top:10px;
  background-color: rgba(230, 230, 230, 0.7);
}

#playerTable {
  background-color: white;
  opacity: 1;
  width: 84%;
  margin-left:8%; 
  margin-right:8%;
}

.cntrcells {
  text-align:center;
}

.handCells {
  min-width:120px;
}

td {
  min-width:50px;
  height:60px;
  width:80%;
}

.leftbtncells{
  width:20px;
}

#addRowBtn {
  margin-left:8px;
  margin-bottom:10px;
}






/*
.tableCon {
  width: 750px;
}

th, td {
  white-space: nowrap;
  /*border: 1px solid black;
  text-align: center;
}

#setwidth {
  width: 100px;
}

#setHwidth {
  width: 275px;
}

input {
    width: 100%;
}
*/